.info {
    width: 100%;
}
.info_list {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 20px;
    gap: 20px;
    padding-bottom: 20px;
}
.info_item {
    width: 50%;
    background-color: rgba(33, 70, 109, 1);
    border-radius: 30px;
    opacity: 0px;
}

.info_item_new {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}
.info_item_new div {    
    width: 80%;
    
}
.info_item_title {
    font-family: Steppe Trial;
    font-size: 48px;
    font-weight: 700;
    line-height: 50.2px;
    letter-spacing: -0.02em;
    text-align: left;
    text-transform: uppercase;
    color:  rgba(255, 255, 255, 1);

    margin-bottom: 20px;
}
.info_item_title_span {
    font-family: Steppe Trial;
    font-size: 48px;
    font-weight: 700;
    line-height: 43.2px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(255, 200, 42, 1);
}
.info_item_text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    text-align: left;

    color: rgba(255, 255, 255, 0.5);

}
